
body {
	width:500px;
	height:550px;
	font-family:helvetica, arial, sans-serif;
	margin:5px 20px 5px 20px;
	font-size:90%;
}

h2 {
	background:#ebeff9;
	border-top:1px solid #b5c7de;
	font-size:99%;
	padding:3px 0 2px 5px;
	font-weight:bold;
	margin-bottom:1em;
	margin-top:2em;
}

input[type=checkbox] + label {
	position:absolute;
	float:left;
	width:400px;
	padding-left: 10px;
}

h1 {
}
h1::before {
	content: url(lock-64.png);
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}

#message {
	height:40px;
}

ul#sites {
	list-style-type: none;
	margin-left:0px;
	text-indent: -2.5em;
}

#sites li {
	margin-left:0px;
	padding:1px;
}

.blacklisted {
	color: red;
}

#potsites span {
	cursor: pointer;
}
