
body {
	width:500px;
	height:550px;
	font-family:helvetica, arial, sans-serif;
	margin:5px 20px 5px 20px;
	font-size:90%;
}

h2 {
	background:#ebeff9;
	border-top:1px solid #b5c7de;
	font-size:99%;
	padding:3px 0 2px 5px;
	font-weight:bold;
	margin-bottom:1em;
	margin-top:2em;
}

input[type=checkbox] + label {
	position:absolute;
	float:left;
	width:400px;
	padding-left: 10px;
}

h1 {
}
h1::before {
	content: url(chrome://extension-icon/__MSG_@@extension_id__/64/1);
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}

#message {
	height:40px;
}

table {
	border-spacing: 0 2px;
}

[data-site] img {
	vertical-align: middle;
}

[data-status=potential] {
	background: #5577FF;
}

[data-status=blacklist] {
	background: #ffabab;
}

[data-site] td {
	cursor: pointer;
}
[data-site] td:not(.delete) {
	opacity: 0.5;
}

td.delete {
	padding-left: 1em;
}

[data-status="secure"] .secure,
[data-status="potential"] .potential,
[data-status="blacklist"] .blacklist {
	opacity: 1.0 !important;
	cursor: auto;
}
