
body {
	width:500px;
	height:550px;
	font-family:helvetica, arial, sans-serif;
	margin:5px 20px 5px 20px;
	font-size:90%;
}

.section-header {
	background:#ebeff9;
	border-top:1px solid #b5c7de;
	font-size:99%;
	padding:3px 0 2px 5px;
	font-weight:bold;
	margin-bottom:1em;
	margin-top:2em;
}

label.checkbox-text {
	position:absolute;
	float:left;
	width:400px;
	padding-left: 10px;
}

#header {
  padding-bottom:1.5em;
  padding-top:1.5em;
}

#header h1 {
  font-size: 150%;
  display:inline;
  padding-bottom:43px;
  padding-left:75px;
  padding-top:40px;
  background:url(lock-128.png) no-repeat;
  background-size:67px;
  background-position:1px 18px;
}

#message {
	height:40px;
}

ul {
	list-style-type: none;
	margin-left:0px;
	text-indent: -2.5em;
}

li {
	margin-left:0px;
	padding:1px;
}



