.secured {
	background: #c4ffc4;
}

.potential {
	background: #fcffa1;
}

.broken {
	background: #ffabab;
}

.blacklisted {
	background: #ffabab;
}

* {
	text-align: center;
}

body {
	min-width: 20em;
}
